canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


#start-journey {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  
}

.content-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  color: aliceblue;
  font-weight: bold;
}

#nav-prev, #nav-next {
  display: none; /*los botones estan ocultos inicialmente*/
}

#nav-prev {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}
#nav-next {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.hidden {
    display: none;
    
}